<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.jacky.kotlindemo">

    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--友盟-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/KotlinDemoAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">

        <!--9.0加的，哦哦-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name=".mvp.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".mvp.search.SearchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".mvp.videodetail.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".mvp.classifydetail.ClassifyDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".mvp.about.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.userinfo.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.watchhistory.WatchHistoryActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>